/* Alexander Rozhkov, frontend developer.
  23.10.2022
  www.alexrozhkov.com
*/
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}
:root {
  --color-white: #fff;
  --color-black: #000;
  /* ------------------------------ */
  --font-family: "Inter", sans-serif;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: 400;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body._lock {
  overflow: hidden;
}

/* ------------------------------ */

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  font-family: var(--font-family);
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  display: inline-flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #d4d6d4;
  transition: color 0.3s ease-in-out;
}

.link svg {
  width: 12px;
  height: 12px;
  fill: currentColor;
  transform: translateY(1px);
}

.link span {
  text-indent: 10px;
  border-bottom: 1px solid currentColor;
}

.link:hover {
  color: #ffd723;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 24px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  --offset-horizontal: 11px;
  --offset-vertical: 14px;
  position: relative;
  padding: var(--offset-vertical) var(--offset);
  width: 40px;
  height: 40px;
  background: #f5f6f7;
  border-radius: 100%;
}

.burger-line {
  position: absolute;
  left: 50%;
  top: var(--offset-vertical);
  display: inline-block;
  width: calc(100% - (var(--offset-horizontal) * 2));
  height: 2px;
  background-color: black;
  transform: translateX(-50%);
}

.burger-line:nth-child(2) {
  top: calc(var(--offset-vertical) + 6px);
}

.burger-line:nth-child(3) {
  top: calc(var(--offset-vertical) + 12px);
}

.hero {
  padding-top: 188px;
  padding-bottom: 100px;
  min-height: 811px;
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 706px;
  color: var(--color-white);
  letter-spacing: 0.2px;
}

.hero-subtitle {
  display: inline-block;
  margin-bottom: 22px;
  line-height: 21px;
}

.hero-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 60px;
  line-height: 128%;
  letter-spacing: 0.5px;
}

.hero-descr {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}

.hero-link {
  color: #ffd723;
}

/* ------------------------------ */

.site-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 128%;
  color: #4d533c;
}

.services {
  padding: 150px 0px 150px 0;
}

.services-title {
  max-width: 590px;
  margin-bottom: 60px;
}

.services-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.services-subtitle {
  max-width: 183px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 155%;
  text-transform: uppercase;
  color: #4d533c;
}

.services-descr {
  margin-bottom: 56px;
  font-weight: 500;
  max-width: 194px;
  font-size: 14px;
  line-height: 186%;
  color: rgba(33, 56, 66, 0.6);
}

.services-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.services-link {
  margin-bottom: 0;
  margin-top: auto;
}
