/* Alexander Rozhkov, frontend developer.
  23.10.2022
  alexrozhkov.com
*/

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-1: #ffd723;
  --color-2: #4d533c;
  --color-3: #d4d6d4;
  --color-4: #ff0000;
  --color-5: #b5c096;
  --color-6: #444a34;
  --color-7: #fafafa;
  --color-8: #b6c197;

  /* ------------------------------ */
  --font-family: "Inter", sans-serif;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: 400;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body._lock {
  overflow: hidden;
}

/* ------------------------------ */

.progress-container {
  width: 100%;
  height: 2px;
}

.progress-bar {
  height: 2px;
  background: var(--color-1);
  width: 0%;
}

/* ------------------------------ */

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  display: inline-flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-3);
  transition: color 0.3s ease-in-out;
}

.link svg {
  width: 12px;
  height: 12px;
  fill: currentColor;
  transform: translateY(1px);
}

.link span {
  text-indent: 10px;
  border-bottom: 1px solid currentColor;
}

.link span:hover {
  border-bottom: 0px solid currentColor;
}

.link:hover {
  color: var(--color-1);
}

.header {
  z-index: 50;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.active {
  background: var(--color-2);
  transition: all 0.3s ease 0s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.logo {
  position: relative;
  z-index: 51;
}

.logo img:hover {
  fill: var(--color-1);
}

/*-- menu ----------------------------*/

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  background: var(--color-white);
  z-index: 50;
}

.menu {
}

.menu__icon {
  display: none;
}

.menu__body {
  margin: 0px 0px 0px 133px;
}

.menu__list > li {
  position: relative;
  margin: 0px 20px 0px 0px;
}

.menu__link {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--color-white);
}

.menu__link:hover {
  text-decoration: none;
  color: var(--color-1);
  transition: all 0.3s ease 0s;
}

.menu__link:focus {
  color: var(--color-1);
}

body._touch .menu__list > li {
  display: flex;
  align-items: center;
}

body._touch .menu__link {
  flex: 1 1 auto;
}

/*-- hero ----------------------------*/

.hero {
  padding-top: 188px;
  padding-bottom: 100px;
  min-height: 811px;
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content {
  display: inline-block;
  max-width: 706px;
  color: var(--color-white);
  letter-spacing: 0.2px;
}

.hero-subtitle {
  display: inline-block;
  margin-bottom: 22px;
  line-height: 21px;
}

.hero-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 60px;
  line-height: 128%;
  letter-spacing: 0.5px;
}

.hero-descr {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}

.hero-link {
  color: var(--color-1);
}

/* ------------------------------ */

.site-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 128%;
  color: var(--color-2);
}

.services {
  margin-bottom: -180px;
  padding: 150px 0px 150px 0;
}

.services-title {
  max-width: 590px;
  margin-bottom: 60px;
}

.services-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.services-subtitle {
  max-width: 183px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 155%;
  text-transform: uppercase;
  color: var(--color-2);
}

.services-descr {
  margin-bottom: 56px;
  font-weight: 500;
  max-width: 194px;
  font-size: 14px;
  line-height: 186%;
  color: rgba(33, 56, 66, 0.6);
}

.services-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.services-link {
  margin-bottom: 0;
  margin-top: auto;
}

/* ------------------------------ */

.get-started {
  position: relative;
  top: 180px;
  padding: 70px 0;
  width: 100%;
  background-color: var(--color-7);
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}

.get-started-title {
  max-width: 822px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 60px;
  line-height: 123%;
  color: var(--color-2);
}
.get-startet-link {
  text-transform: uppercase;
}

/* ------------------------------ */

.footer {
  padding-top: 300px;
  color: var(--color-white);
  background-image: url(../img/footer-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 52px;
  border-bottom: 1px solid #5d6544;
}

.footer-contacts-item:not(:last-child) {
  margin-right: 128px;
}

.footer-contacts-text {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 250%;
  color: #b6c197;
}

.footer-contacts-value {
  display: inline-block;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 250%;
  color: var(--color-white);
}

.footer-middle {
  --grid-gap: 70px;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(4, 1fr);
  padding: 60px 0;
  border-bottom: 1px solid #5d6544;
}

.footer-column:last-child {
  position: relative;
}

.footer-column:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-1 * (var(--grid-gap)));
  width: 1px;
  height: 100%;
  background-color: #5d6544;
}

.footer-title {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 16px;
  line-height: 238%;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
  color: var(--color-8);
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-text {
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 162%;
  color: var(--color-8);
}

.footer-mail {
  display: inline-block;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 158%;
  color: var(--color-white);
}

.social {
  display: flex;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 11px;
}

.social-link {
  display: block;
  width: 33px;
  height: 33px;
  background-color: var(--color-6);
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 20px auto;
  transition: all 0.3s ease-in-out;
}

.social-link:hover {
  background-color: var(--color-1);
}

.social-link-fb {
  background-image: url("../img/fb.svg");
}

.social-link-tw {
  background-image: url("../img/tw.svg");
}

.social-link-g {
  background-image: url("../img/inst.svg");
}

.social-link-in {
  background-image: url("../img/in.svg");
}

.copyright {
  display: inline-block;
  line-height: 250%;
  padding-right: 30px;
  color: var(--color-5);
  cursor: pointer;
}

.logo-right {
  display: inline-block;
}

.copyright:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.copyright-logo {
  background: url("../img/footer-logo.svg") right no-repeat;
}

@media (max-width: 992px) {
  .services-list {
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }

  .services-subtitle {
    max-width: none;
  }

  .services-descr {
    max-width: none;
  }

  .footer-middle {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-column:last-child::before {
    display: none;
  }
}

@media (max-width: 767px) {
  .menu__body {
    margin: 0px 0px 0px 0px;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 18px;
    height: 12px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 14%;
    width: 100%;
    background-color: var(--color-black);
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-2);
    padding: 140px 30px 30px 15px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 24px;
  }

  /* ------------------------------- */

  .hero-title {
    font-size: 40px;
  }

  .services {
    padding: 90px 0;
  }

  .get-started-title {
    font-size: 40px;
  }

  .hero {
    padding-top: 120px;
    padding-bottom: 40px;
    min-height: 611px;
  }
}

@media (max-width: 567px) {
  .logo {
    flex: 0 0 60px;
    overflow: hidden;
  }

  .hero-title {
    font-size: 30px;
  }

  .get-started-title {
    font-size: 30px;
  }

  .services {
    padding: 70px 0;
  }

  .site-title {
    font-size: 30px;
  }

  .services-list {
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer {
    padding-top: 250px;
  }

  .footer-middle {
    --grid-gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }

  .services-descr {
    margin-bottom: 30px;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
  }
}

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }

  .menu__list > li {
    padding: 10px 0;
  }

  .header__menu {
    display: none;
  }
}
